{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" content="{{keyword}}" />
  {% endfor %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}
{% endblock %}

{% block title %}{{ article.title }} ⋅ {{ BLOGTITLE }}{% endblock title %}
{% block header_logo %}<a id="logo" href="/">{{ SITENAME }}</a>{% endblock %}
{% block header_blog_link %}<em><a href="/blog">{{ SITESUBTITLE }}</a></em>{% endblock %}

{% block content %}
<section id="content" class="article-page-content">
  <article class="post">
    <header class="header">
      {% if article.readtime %}
          <div class="readtime"><i class="sprite sprite-clock"></i> {{article.readtime.minutes}} мин. на прочтение</div>
      {% endif %}
      <h2 class="title"><em>{{ article.title }}</em></h2>
      {% import 'translations.html' as translations with context %}
      {{ translations.translations_for(article) }}
    </header>
    <div class="body">{{ article.content }}</div>
    <footer class="meta">
      {% if article.tags %}
        <span class="tags">
        {% for tag in article.tags %}
          <a class="tag nodecor" href="/{{ tag.url }}">#<u>{{ tag | escape }}</u></a>
        {% endfor %}
        </span>
      {% endif %}
    </footer>
  </article>
</section>
{% endblock %}

{% block footer_year %}{{ article.locale_date }}{% endblock %}

{% block share %}
{% if article.share_post %}
<ul class="share">
<li><a href="{{article.share_post['twitter']}}" class="twitter" target="_blank" title="Поделиться в Twitter">В твитер</a></li>
<li class="splitter">⋅</li>
<li><a href="{{article.share_post['facebook']}}" class="facebook" target="_blank" title="Поделиться в Facebook">В фейсбук</a></li>
<li class="splitter">⋅</li>
<li><a href="{{article.share_post['google-plus']}}" class="google-plus nodecor" target="_blank" title="Поделиться в Google+"><u>В гугл</u>+</a></li>
<li class="splitter">⋅</li>
<li><a href="{{article.share_post['vk']}}" class="vk" target="_blank" title="Поделиться во ВКонтакте">В контакт</a></li>
<li class="splitter">⋅</li>
<li><a href="{{article.share_post['email']}}" class="email" target="_blank" title="Поделиться через эл. почту">По почте</a></li>
</ul>
{% endif %}
{% endblock %}