<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <title>{% block title %}{% endblock title %}</title>
    {% assets filters="cssmin", output="css/blog.min.css", "css/reset.css", "css/common.css", "css/pygment.css", "css/style.css" %}
    <link rel="stylesheet" href="/{{ ASSET_URL }}">
    {% endassets %}
    <link rel="shortcut icon" href="/favicon.ico"/>
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% endblock head %}
</head>
<body>
{% include 'ya_metrika.html' %}

<header id="header">
    <nav id="menu"><ul>
      {% block menu %}{% endblock %}
    </ul></nav>
</header>

{% block content %}{% endblock %}

<footer id="footer">
    {% block share %}{% endblock %}
    <p class="copyright">© {{ AUTHOR }}, <a href="mailto:geakstr@me.com" rel="me">geakstr@me.com</a></p>
</footer>

</body>
</html>
