{% extends "base.html" %}

{% block header_logo %}<a id="logo" href="/">{{ SITENAME }}</a>{% endblock %}
{% block header_blog_link %}
<em>{% if articles_page.has_previous() %}<a href="{{ SITEURL }}/">{{ SITESUBTITLE }}</a>{% else %}{{ SITESUBTITLE }}{% endif %}</em>
{% endblock %}

{% block content %}
<section id="content">
<h3 class="title"><em>О разработке и всём таком</em></h3>

{% for article in articles_page.object_list %}
<article class="post">
    <header class="header">
        <h2 class="title">
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark">{{ article.title }}</a>
        </h2>
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(article) }}
    </header>
    <div class="body">{{ article.content }}</div>
    <footer class="meta">
        <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        {% if article.tags %}
        <span class="tags">
        {% for tag in article.tags %}
          <a class="tag nodecor" href="{{ SITEURL }}/{{ tag.url }}">#<u>{{ tag | escape }}</u></a>
        {% endfor %}
        </span>
      {% endif %}
    </footer>
</article>
{% endfor %}
{% if articles_page.has_other_pages() %}
{% include 'pagination.html' %}
{% endif %}
</section>
{% endblock content %}