{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock title %}

{% block menu %}
        <li><h1>
            {% if articles_page.has_previous() %}
            <a id="logo" href="/">{% include 'logo.html' %}</a>
            {% else %}
            <span id="logo">{% include 'logo.html' %}</span>
        {% endif %}</h1></li>
        <li><em>О разработке и всём таком. <a href="/">Об авторе</a></em></li>
{% endblock %}

{% block content %}
<section id="content">

{% for article in articles_page.object_list %}
<article class="post">
<header class="header">
    {% if article.readtime %}
        <div class="readtime"><i class="sprite sprite-clock"></i> {{article.readtime.minutes}} мин. на прочтение</div>
    {% endif %}
    <h2 class="title">
        <a href="/{{ article.url }}" rel="bookmark">{{ article.title }}</a>
    </h2>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
</header>
<div class="body">{{ article.content }}</div>
<footer class="meta">
    {% if article.tags %}
        <p class="tags">
        {% for tag in article.tags %}
          <a class="tag nodecor" href="/{{ tag.url }}">#<u>{{ tag | escape }}</u></a>
        {% endfor %}
        </p>
    {% endif %}
    <p><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></p>
</footer>
</article>
{% endfor %}
{% if articles_page.has_other_pages() %}
{% include 'pagination.html' %}
{% endif %}

</section>
{% endblock content %}