html, body {
  width: 100%;
  height: 100%;
}

/* Actually, styles */
#content {
  max-width: 640px;
  margin: 1em auto 3em auto;
  font-size: 1.125em;
}
#content #menu {
  margin-bottom: 0.75em;
  padding: 0 0.5em 0.75em 0.5em;
  border-bottom: 1px solid #efefef;
  text-align: center;
}
#content #menu li {
  display: inline-block;
}
#content h1 {
  font-weight: 700;
  color: #A40000;
}
#text {
  padding: 0 0.5em 0 0.5em;
  line-height: 1.5;
  text-align: left;
}
#text p {
  margin-bottom: 1em;
}
#footer {
  margin-top: 1em;
}
@media only screen and (max-width:800px) {
  body {
    border-top: 1px solid #A40000;
  }
  #content #menu {
    text-align: left;
  }
  #footer .fork-bomb {
    left: 0;
    width: auto;
    margin-left: 0.5em;
  }
}