body {
  max-width: 800px;
  margin: 0 auto;
  padding: 22px 0;
  font-family: 'PT Mono', monospace;
  color: #333;
  border-top: 3px solid #eee;
}

.content {
  font-size: 1em;
  line-height: 1.571;
}

.name {
  position: relative;
  margin-bottom: 22px;
  font-weight: 700;
}

.name img {
  position: absolute;
  top: -11px;
  left: -60px;
  width: 44px;
  height: 44px;
  border-radius: 300px;
}

.content p, .content ul {
  position: relative;
  margin-bottom: 16px;
}

.content ul {
  list-style: circle outside;
}

.content p + ul {
  margin-top: -8px;
}

.content p:last-child {
  margin-bottom: 0;
}

.content li {
  margin-bottom: 6px;
}

.content li:last-child {
  margin-bottom: 0;
}

.content p.point:before {
  position: absolute;
  top: 2px;
  left: -28px;
  width: 28px;
  text-align: center;
  font-size: 12px;
  content: "★";
}

.content hr {
  margin: 22px 0;
  border: none;
  border-top: 1px dotted #eee;
  height: 0;
}

.about strong {
  font-weight: 400;
  color: #000;
}

.works .title {
  font-weight: 700;
  margin-bottom: 16px;
}

.works .work {
  width: 850px;
  margin: 22px 0 22px -22px;
  padding: 22px;
  background: #efefef;
  border-radius: 3px 3px 3px 3px;
}

.works .work img {
  border-radius: 3px;
  width: 48%;
}

.works .work a:first-child img {
  margin-right: 4%;
}

.works .work img:hover {
  box-shadow: 0 11px 11px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 960px) {
  body {
    border-top: none;
    width: 95%;
  }

  .name {
    margin-top: -22px;
  }

  .name img {
    position: relative;
    top: 18px;
    left: -6px;
    width: 44px;
    height: 44px;
    margin-right: 5px;
    border-radius: 300px;
  }

  .works .work {
    width: 100%;
    margin: 0 0 16px 0;
    padding: 11px;
    background: #efefef;
  }

  .works .work:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .works .work img {
    width: 100%;
  }

  .works .work img:first-child {
    margin-right: 0;
  }
}
