#header {
  border-top: 1px solid #A40000;
  padding-top: 1em;
  margin-bottom: 2em;
}
#header #menu li {
  display: inline-block;
  font-size: 1.125em;
}
#header h1 a {
  color: #3F51B5;
}
#header h1 a:hover {
  color: #A40000;
}
#header #logo {
  color: #A40000;
}
#header #logo:hover {
  color: #9D1300;
}
#content > .title {
  margin-bottom: 1.25em;
  font-size: 1.25em;
}
.post {
  margin-bottom: 2.33em;
}
.post:last-child {
  margin-bottom: 0;
}
.posts-list li {
  margin-bottom: 1em;
}
.post .header {
  margin-bottom: 0.8em;
}
.posts-list .post .header {
  margin-bottom: 0;
}
.post .header .title {
  font-size: 1.5em;
  line-height: 1.2;
}
.posts-list .post .header .title {
  font-size: 1.25em;
}
.post .header .title a {
  color: #111;
}
.post .header .title a:hover {
  color: #A40000;
}
.post .body {
  font-size: 1.125em;
  line-height: 1.333;
}
.post .body p {
  margin-bottom: 0.66em;
}
.post .body p:last-child {
  margin-bottom: 0;
}
.post .body a:visited {
  color: #7090b0;
}
.post .meta {
  margin-top: 1em;
  color: #666;
}
.posts-list .post .meta {
  margin-top: 0.5em;
}
.post .meta time {
  display: inline-block;
  width: 150px;
}
.post .meta .tags .tag {
  color: #999;
  margin-left: 0.33em;
}
.post .meta .tags:first-child .tag:first-child {
  margin-left: 0;
}
.post .meta .tags a.tag {
  color: #999;
}
.post .meta .tags a.tag:hover {
  color: #666;
}
.post .meta .tags a.tag u {
  color: #666;
}
.post .meta .tags a.tag:hover u {
  color: #333;
}
.paginator .new {
  margin-right: 0.5em;
}
.paginator .old {
  margin-left: 0.5em;
}
#footer {
  margin-top: 2em;
  margin-bottom: 1em;
}
.article-page-content + #footer {
  margin-top: 1em;
}